.item .item-body {
    height: 0;
    transition: all 0.5s;
    visibility: hidden;
    opacity: 0;
}
.item.active .item-body {
    height: 250px;
    opacity: 1;
    visibility: visible;
}
.item .la-angle-up {
    display: none;

}
.item.active .la-angle-up {
    display: block;
}
.item.active .la-angle-down {
    display: none;
}
body {
}
.displayArray {
    height: 50px;
}